extends layout

block content
  h1 CS129.1 Database Project: 
    span(style="color: #2f4554") Map Reduce and Database Replication
  hr
  h2 Project Info:
  p Using MongoDB's 
    span(class="emp") MapReduce 
    on ... (insert info here)
  br
  hr
  h2 Members:
  ul
    li Bermejo, Irene Therese
    li Jimenez, Karl 
    li Ledesma, Julio
    li Sy, Sean
