doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block js
  body
    block content
    block scripts
  footer
    <hr>
    h6 CS129.1 Database Project by Irene Therese Bermejo, Karl Jimenez, Julio Ledesma, and Sean Sy. All data are from sitename.com. Used for educational purposes only. 