body {
  padding: 50px;
  padding-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #131313;
}

a {
  text-decoration: none;
  color: #61a0a8;
}

a:hover {
  text-decoration: underline;
}


.emp {
  color: #c23531;
}

ul {
  padding-left: 10px;
}
li:before {
  content: '\002022';
  font-size: 20px;
  color: #61a0a8;
  vertical-align: middle;
  padding-right: 5px;
}

li {
  margin: 0.5px;
  list-style-type: none;
}

h2 {
  color: #2f4554;
}

h6 {
  color: #636363;
}

table {
  width: 100%;
  border: #61a0a8;
  border-style: solid;
  border-width: 1px;
}

th {
  height: 25px;
  color: #fdfdfd;
  padding: 10px;
  border-width: 0px;
  font-size: 12pt;
}

thead {
  background-color: #61a0a8;
}

tr.odd {
  background-color: #f3f3f3;

}


td {
  width: 25%;
  text-align: center;
}

